## Settings file was created by plugin IntroTweaks v1.4.2
## Plugin GUID: io.github.IntroTweaks

[0 >> General << 0]

## Enable or disable the plugin globally.
# Setting type: Boolean
# Default value: true
bEnabled = true

[1 >> Intro << 1]

## Skips those pesky Unity and Zeekers startup logos!
# Setting type: Boolean
# Default value: true
bSkipSplashScreens = true

## If the loading animation (booting OS) should be skipped.
# Setting type: Boolean
# Default value: true
bSkipBootAnimation = true

## Which mode to automatically enter into after the splash screen.
## Valid options: ONLINE, LAN, OFF
# Setting type: String
# Default value: ONLINE
sAutoSelectMode = ONLINE

## Whether the 'Host' button is automatically selected when the Online/LAN menu loads.
# Setting type: Boolean
# Default value: false
bAutoSelectHost = false

[2 >> Main Menu << 2]

## If the main menu buttons should align with each other.
# Setting type: Boolean
# Default value: true
bAlignMenuButtons = false

## Whether the main menu canvas should have its settings corrected.
## May cause overlapping issues, only turn it on if you aren't using other menu mods.
# Setting type: Boolean
# Default value: true
bFixMenuCanvas = false

## The main menu panels (host, servers, loading screen) all have anchoring, offset and sizing issues.
## This option helps solve them and improve the look of the menu.
## 
## MAY BREAK SOME MODS.
# Setting type: Boolean
# Default value: true
bFixMenuPanels = true

## Hides the warning popup when hosting a LAN session.
# Setting type: Boolean
# Default value: true
bRemoveLanWarning = true

## Hides the 'Launched in LAN mode' text below the Quit button.
# Setting type: Boolean
# Default value: true
bRemoveLaunchedInLanText = true

## Hides the panel that displays news such as game updates.
# Setting type: Boolean
# Default value: false
bRemoveNewsPanel = false

## Hides the 'Credits' button on the main menu. The other buttons are automatically adjusted.
# Setting type: Boolean
# Default value: true
bRemoveCreditsButton = true

[3 >> Custom Version Text << 3]

## Whether to replace the game's version text with a custom alternative.
# Setting type: Boolean
# Default value: true
bCustomVersionText = true

## Replace the game's version text with this custom text in the main menu.
## To insert the version number, use the $VERSION syntax. E.g. Ver69 would be Ver$VERSION
# Setting type: String
# Default value: v$VERSION\n[MODDED]
sVersionText = v$VERSION\n[MODDED]

## Determines how to display game version number.
## Valid options: FULL, SHORT
# Setting type: String
# Default value: SHORT
sVersionTextFormat = FULL

## The font size of the version text. Min = 10, Max = 40.
# Setting type: Single
# Default value: 20
fVersionTextSize = 20

fVersionTextXPos = 1089.86

fVersionTextYPos = 555

[4 >> Miscellaneous << 4]

## Toggles the first day ship speaker SFX.
# Setting type: Boolean
# Default value: false
bDisableFirstDaySFX = false

## The index of the monitor to display the game on when starting.
## You can find these indexes in your Windows display settings.
## Defaults to 0 (main monitor).
# Setting type: Int32
# Default value: 0
iGameStartupDisplay = 0

[io.github.IntroTweaks]

bEnabled = true

sAutoSelectMode = ONLINE

bAutoSelectHost = false

bSkipBootAnimation = true

bRemoveLanWarning = true

bRemoveLaunchedInLanText = true

bRemoveNewsPanel = false

bCustomVersionText = false

sVersionText = v$VERSION\n[MODDED]

sVersionTextFormat = FULL

fVersionTextSize = 20

fVersionTextXPos = 1089.9

fVersionTextYPos = 555

bDisableFirstDaySFX = false

